body {
  font-family: 'Open Sans', sans-serif, Arial;
  font-size: 18 px;
  color: #5B5B71;
  line-height: 1.5 px;

  max-width: 960px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;
  grid-template-areas:
    "masthead"    "masthead"
    "navigation"  "aside"
    "Discography"  "Disocography"
}

a,
a:link {
  color: #5B5B71;
}

a:visited {
  color: #ffdcdb; 
}

a:hover {
  color: #91a8d0;
}

a:active{
  color: #f7cac9
}

header {
  grid-area: masthead;
}

aside {
  grid-area: aside;
  background-color: #d7d7d7
}

nav {
  grid-area: navigation;
  background-color: #b4c8ea;
}

header,
footer {
  background-color: #ffdcdb;
  padding: 0 20px;
}

h2 {
  margin-top: 0;
}

p {
  margin-bottom: 0;
}

header {
  grid-area: masthead;
}

section {
  padding: 20px;
}

#introduction {
  grid-area: nav;
}

table {
  border: 2px solid #b4c8ea;
}